
<app-header></app-header>

<div class="sobre-wrapper">

  <img [src]="imagemEquipeUrl" alt="Equipe Color Print" class="imagem-sobre" />


  <div class="sobre-content">
    <h1>Sobre a Color Print</h1>
    <p>A Color Print é especializada em comunicação visual com produtos como cartões de visita, banners e muito mais.</p>

    <div class="info-blocos">
      <div class="bloco">
        <h3>🚀 Missão</h3>
        <p>Oferecer produtos gráficos com qualidade e personalização para destacar nossos clientes no mercado.</p>
      </div>
      <div class="bloco">
        <h3>🎯 Visão</h3>
        <p>Ser referência nacional em impressão personalizada e atendimento ao cliente.</p>
      </div>
      <div class="bloco">
        <h3>💡 Valores</h3>
        <ul>
          <li>Comprometimento com o cliente</li>
          <li>Qualidade nos materiais</li>
          <li>Atendimento humanizado</li>
          <li>Inovação constante</li>
        </ul>
      </div>
      <div class="bloco">
        <h3>📍 Localização</h3>
        <p>Rua Lourenço Dias, 640 – Araras/SP</p>
      </div>
    </div>
  </div>
</div>


 <app-footer></app-footer>